<div class="modal-body">
    <h2>Sobre Mí</h2>
    <form [formGroup]="formPersona" (submit)="onUpdatePersona()">
        <div class="row g-3">
            <div class="col-md-12">
                <textarea id="sobre_mi"  formControlName="sobre_mi" class="form-control form-control-lg" rows="8" name="sobre_mi" spellcheck="true" [(ngModel)]="sobre_mi"></textarea>
            </div>
        </div>
        
        <div class="row" align="center">
            <div class="pt-4">

                <button 
                    *ngIf="this.persona == null || this.persona == undefined" 
                    type="submit" class="btn btn-success btn-block w-50" 
                    [disabled]="formPersona?.invalid"
                    mat-raised-button color="primary" [class.spinner]="loading" 
                    >Alta</button>

                <button *ngIf="this.persona != null || this.persona != undefined" 
                    type="submit" class="btn btn-primary btn-block w-50" 
                    [disabled]="formPersona?.invalid"
                    mat-raised-button color="primary" [class.spinner]="loading"
                    >Modificar</button>
            </div>
        </div>
    </form>
</div>