<div class="modal-body">
    <h2>Sobre Mí</h2>
    <form>
        <div class="row g-3">
            <div class="col-md-12">
                <textarea id="about" class="form-control" rows="8" name="about" spellcheck="true" [(ngModel)]="descripcion"></textarea>
            </div>
        </div>
        
        <div class="row" align="center">
            <div class="pt-4">
                <button type="submit" class="btn btn-primary btn-block w-50">Modificar</button>
            </div>
        </div>
    </form>
</div>