<div class="modal-body">
    <h2>Banner Pefil</h2>
    <form>
        <div class="row">

            <div class="col-md-12" align="center" mat-raised-button color="primary" [class.spinner]="loading">
                <img class="banner" src="{{persona?.url_banner_perfil}}" >
            </div>

            <div class="row">
                <div class="col">
                    <h3>Cambiar Banner</h3>
                    <div class="input-group pt-3">                                            
                        <input type="file" class="form-control" (change)="uploadImage($event)">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>