<div class="modal-body">
    <h2>Datos Perfil</h2>
    <form>
        <div class="row g-3">

            <div class="col-md-12">
                <label for="title">Foto Perfil</label>
                <input type="text" class="form-control" [(ngModel)]="url_foto" name="url_foto" id="url_foto"
                    placeholder="ingrese un foto de perfil">
            </div>

            <div class="row" align="center">
                <div class="pt-4">
                    <button type="submit" class="btn btn-primary btn-block w-50">Modificar</button>
                </div>
            </div>
        </div>
    </form>
</div>