<div class="modal-body">
    <h2>Datos Perfil</h2>
    <form>
        <div class="row">

            <div class="row" align="center">
                <div class="foto-perfil p-4">
                    <div class="col" mat-raised-button color="primary" [class.spinner]="loading">
                        <img class="perfil_foto" src="{{persona?.url_foto_perfil}}">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h3>Cambiar Foto</h3>
                    <div class="input-group pt-3">                                            
                        <input type="file" class="form-control" (change)="uploadImage($event)">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>