*{
    font-family: monospace;
    color: #393939;
}

h2{
    font-weight: bold;
}

p{    
    font-size: 18px;
    font-weight: 600;
}

.container{    
    padding-top: 8em;
    padding-bottom: 2em;
}

@media (min-width:576px){
    .perfil{    
        z-index: 4;    
        width: 12em;
        margin-top: -15.5em;
        margin-left: 5em;
    }
}


@media (max-width:576px){
    .perfil{    
        z-index: 4;    
        width: 12em;
        margin-top: -13em;
        margin-left: 20%;             
    }    
}

.perfil_foto{
    z-index: 4;
    border-radius: 100%;
    border: 7px solid white;
}

.perfil_info{    
    width: 240px;
    text-align: center;
        
    font-weight: bold;        
}

.perfil_titulo{
    font-size: 18px;  
}

.perfil_nombre{
    font-size: 20px;
    color: #00358E;
}

.perfil_info_sobre_mi{
    z-index: 4;
    /* margin-top: -6em; */
    margin-left: 2em;
    font-weight: 600;
    margin-bottom: 3em;
}

.icon{
    cursor: pointer;
    font-size: 28px;  
    background-color: orange;
  
    border-radius: 100%;
  }
  
  .icon > .icon-style{
    
    color: white;
  }

  .btn-edit{
    position: absolute;  
    min-width: 42px;
    min-height: 42px;
  
    z-index: 999;
  }
  
  .btn-edit:hover{
    transform: scale(1.1);
  }
  
  .btn-edit:active{
    transform: scale(0.9);
  }

  .btn-edit-perfil{    
    margin-top: 3.8em;     
    margin-left: 3.8em;
  }