*{
    font-family: monospace;
    color: #393939;     
}

p{    
    font-weight: 600;
}


app-edit-foto-perfil, app-edit-acerca-de,
app-edit-descripcion, app-modal-borrar-seccion{  
  width: 100%;
	height: 100%;
	
    
	background: url("../../../../assets/img/fondos/patternWhite.jpg")
	 ;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}



.container{    
    padding-top: 8em;
    padding-bottom: 2em;
}

/*Desktop*/
@media (min-width:576px){
    .perfil{    
        z-index: 4;    
        width: 12em;
        margin-top: -15.5em;
        /* margin-left: 5em; */
    }

    .navbar{
        margin-top: -4em;
        margin-bottom: 10px;
    }
}

/*Dispositivos*/
@media (max-width:576px){
    .perfil{    
        z-index: 4;    
        width: 12em;
        margin-top: -10em;
        /* margin-left: 22%;              */
    } 
    
    .navbar{
        margin-top: -0.2em;
        margin-bottom: 10px;
    }
}

.perfil_foto{
    z-index: 4;
    border-radius: 100%;
    border: 7px solid white;

    width: 230.382px !important;
    height: 233.646px !important;    
}

.foto-perfil{
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;   

    align-items: center !important;

    text-align: center !important;
    display: flex;
    justify-content: center !important;
}
.centrar{
    align-items: center !important;
    text-align: center !important;
    display: flex;
    justify-content: center !important;
}

.perfil_titulo{
    font-size: 18px; 
    font-weight: bold; 
}

.perfil_nombre{
    font-size: 20px;
    color: #00358E;
}

.perfil_info_sobre_mi{
    z-index: 4;
    /* margin-top: -6em; */
    margin-left: 2em;
    font-weight: 600;
    margin-bottom: 3em;
}

/* Stylos botones de edicion y exit */
.btn-icon{
    cursor: pointer;
    color: rgba(28, 28, 28, 0.818);
    font-size: 26px;        
    border-radius: 100%;          
}

.btn-icon:hover{
    transform: scale(1.1);
}
  
.btn-icon:active{
    transform: scale(0.9);
}

.btn-edit{    
    background-color: rgba(255, 132, 0, 0.694);
}

.btn-clos{   
    background-color: rgba(255, 19, 2, 0.761); 
}

.btn-edit-foto-perfil{  
    position: absolute;  
    margin-top: 3.5em;     
    margin-left: -2px;
  }

.btn-edit-titulo-perfil{
    margin-top: -0.5em;     
    margin-left: 7em; 
}

.btn-add{   
  background-color: rgba(10, 201, 0, 0.761); 
}

.row {
    margin:0px;
}