<div class="container text-left">
    <div class="row">

        <div class="col-md-4">
            <div class="perfil" align="center">
                <div>
                    <div *ngIf="AuthService.logeado != null" class="btn-edit-perfil btn-edit icon" align="center">
                        <fa-icon [icon]="faEdit" class="icon-style"></fa-icon>                                   
                    </div>                
                    <div>
                        <img src="../../../assets/img/material/foto-perfil.jpg" alt="" width="120%" height="120%"
                            class="perfil_foto">
                    </div>
                </div>

                <div>
                    <div class="perfil_info" align="center">
                        <p class="perfil_titulo">Developer Jr</p>
                        <p class="perfil_nombre">Balderrama Rocha Jhossymar</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-8">
            <div class="perfil_info_sobre_mi">
                <div>

                    <h2 style="font-weight: bold;">Sobre Mí</h2>
                    <p>
                        Mi nombre es Balderrama Rocha Jhossymar, tengo 24 años, soy de Avellaneda (Buenos Aires), actualmente estoy termiando la carreda de Técnioco Universitario en Programacion en la UTN de Avellaneda.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>