*{
    font-family: monospace;
    /* color: #393939; */
    /* color: #393939; */
    color: #ffffff;  
    text-shadow: #0e0e0e 1px 0 10px; 
    /* color: #e6e6e6;     */
}

app-edit-experiencia,app-modal-borrar-seccion{  
    color: black;
    text-shadow: none;
    width: 100%;
      height: 100%;
      
      
      background: url("../../../../assets/img/fondos/patternWhite.jpg")
       ;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}



p{    
    font-weight: 600;
}


hr {
    /* color: #181818; */
    color: #F1F6F9;

    height: 0px;
    border:1px dashed;
}

.container_experiencias{
    /* padding: 1em; */
    /* background-color: #00348e2b; */
    /* background-color: #03338536;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border: 1.5px solid rgba(209, 213, 219, 0.3); */

    /* background-color: #394867c7; */
    background-color: #1a2b4ead;
    /* background-color: #1a2b4ebf; */
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border: 1.5px solid rgba(209, 213, 219, 0.3);
}

.container_titulo{
    padding: 1em;
}

.row_foto_experiencia{
    width: 300px;
    height: 150px;
    margin-top: -1em;    
    background-color: rgba(0, 0, 0, 0.194);
    border-radius: 8%;
}

.row_foto{
    padding-top: 8%;
}

/* Stylos botones de edicion y exit */
.btn{
    cursor: pointer;
    color: rgba(28, 28, 28, 0.818);
    font-size: 26px;        
    border-radius: 100%;          
}

.btn:hover{
    transform: scale(1.1);
}
  
.btn:active{
    transform: scale(0.9);
}

.btn-edit{    
    background-color: rgba(255, 132, 0, 0.694);
}

.btn-clos{   
    background-color: rgba(255, 19, 2, 0.761); 
}

.btn-add{   
    background-color: rgba(10, 201, 0, 0.761); 
}

.row {
    margin:0px;
}