<div class="container_experiencias">     
    <div class="container text-left py-4"> 
        <!-- Titulo Seccion -->
        <div class="row container_titulo">
            <h2>Experiencia Laboral</h2>
        </div>

        <!-- Experiencias -->
        <div class="row ">                        
            <hr>

            <div class="row">
                <div class="col-9">                    
                </div>
                <div class="col-1" style="margin-right: 10px;">
                    <div *ngIf="AuthService.logeado != null" class="btn btn-edit" align="center">
                        <fa-icon [icon]="faEdit"></fa-icon>                                   
                    </div>                             
                </div>                
                <div class="col-1" style="margin-left: 10px;">
                    <div *ngIf="AuthService.logeado != null" class="btn btn-clos" align="center">
                        <fa-icon [icon]="faWindowClose"></fa-icon>                                   
                    </div> 
                </div>
            </div>
            
            <div class="col-md-5" align="right" style="padding-right: 8em;">
                <div class="py-3">                 
                    <div class="row_foto_experiencia">
                        <div class="row_foto" align="center">
                            <img src="../../../../assets/img/logo/vlb.png"  width="150px" height="100px">
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-12 col-md-7" >
                <div>
                    <h3 style="font-weight: bold;">CA-VLB s.a - Developer</h3>
                    <p>
                        Genexus Evolution 2, 3
                    </p>

                    <p>
                        2016 - 2019
                    </p>

                    <p>
                        Anatole France 123, Sarandi. Avellaneda - Bs As - Argentina
                    </p>
                </div>
            </div>
        </div>          
    </div>
</div>

