*{
    font-family: monospace;
    color: #393939;
}

h2{
    font-weight: 600;
}

app-edit-hss, app-modal-borrar-seccion{  
    width: 100%;
      height: 100%;
      
      
      background: url("../../../../assets/img/fondos/patternWhite.jpg")
       ;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}
.container_hss{     
    padding: 1em;
    background-color: #00348e2b;
}

/* Stylos botones de edicion y exit */
.btn{
    cursor: pointer;
    color: rgba(28, 28, 28, 0.818);
    font-size: 26px;        
    border-radius: 100%;          
}

.btn:hover{
    transform: scale(1.1);
}
  
.btn:active{
    transform: scale(0.9);
}

.btn-edit{    
    background-color: rgba(255, 132, 0, 0.694);
}

.btn-clos{   
    background-color: rgba(255, 19, 2, 0.761); 
}

.row {
    margin:0px;
}