
<div id="habilidades" class="container_hss border">
    <div class="container">
        <div class="row container_titulo">
            <div class="col-9" align="left">
                <!-- <h1 style="font-weight: bold">Hard Skills & Soft Skills</h1> -->
                <h1 style="font-weight: bold">Habilidades</h1>
            </div>

            <div class="col-3" align="right">
                <div *ngIf="AuthService.estadoLogin" class="btn btn-add" align="center" (click)="openModal(modalHssADD)">
                    <fa-icon [icon]="faPlus"></fa-icon>                             
                </div>   
            </div>
        </div>

        <div class="row" align="center">
            <hr>
            <div class="col-12 col-md-4" *ngFor="let hss of this.hssPersona">
                <div class="row">
                    <div class="col-9">
                    </div>
                    <div class="col-1" style="margin-right: 10px;">
                        <div *ngIf="AuthService.estadoLogin" class="btn btn-edit" (click)="openModal(modalHss)"
                            align="center">
                            <fa-icon [icon]="faEdit"></fa-icon>
                        </div>
                    </div>
                    <div class="col-1" style="margin-left: 10px;">
                        <div *ngIf="AuthService.estadoLogin" class="btn btn-clos" (click)="openModal(modalDelete)"
                            align="center">
                            <fa-icon [icon]="faWindowClose"></fa-icon>
                        </div>
                    </div>
                </div>
                
                <h3 style="font-weight: bold;">{{hss.titulo}}</h3>                

                <circle-progress [percent]="hss.porcentaje" [radius]="100" [showUnits]="true" [showTitle]="true"
                    [titleColor]="'black'" [titleFontSize]="'3em'" [titleFontWeight]="'bold'" [showSubtitle]="true"
                    [subtitle]="hss?.detalle" [subtitleColor]="'black'" [subtitleFontSize]="'0.8em'"
                    [subtitleFontWeight]="'bold'" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#00e408af'" [innerStrokeColor]="'#22d028af'" [animation]="true"
                    [animationDuration]="600"></circle-progress>

                <ng-template #modalHss let-modal>
                    <div class="modal-header">
                        <button type="button" class="btn-close" aria-label="Close"
                            (click)="modal.dismiss('Cross click')"></button>
                    </div>

                    <app-edit-hss [hss]='hss'></app-edit-hss>
                </ng-template>

                <ng-template #modalDelete let-modal>
                    <div class="modal-header">
                        <button type="button" class="btn-close" aria-label="Close"
                            (click)="modal.dismiss('Cross click')"></button>
                    </div>

                    <app-modal-borrar-seccion [elementoBaja]='{
                        objeto: hss,
                        tipo: "HSS"
                    }' (cambios)="actualizarDatos($event)"></app-modal-borrar-seccion>
                </ng-template>
            </div>

            <ng-template #modalHssADD let-modal>
                <div class="modal-header">
                    <button type="button" class="btn-close" aria-label="Close"
                        (click)="modal.dismiss('Cross click')"></button>
                </div>

                <app-edit-hss (cambios)="actualizarDatos($event)"></app-edit-hss>
            </ng-template>
        </div>
    </div>
</div>
