   

        
<div class="container_hss">
    <div class="container">
        <div class="row container_titulo">
            <h2>Hard Skills & Soft Skills</h2>
        </div>

        <div class="row" align="center">
            <hr>
            <div class="col-12 col-md-4">
                <div class="row">
                    <div class="col-9">                    
                    </div>
                    <div class="col-1" style="margin-right: 10px;">
                        <div *ngIf="AuthService.logeado != null" class="btn btn-edit" (click)="openModal(modalHss)"  align="center">
                            <fa-icon [icon]="faEdit"></fa-icon>                                   
                        </div>                             
                    </div>                
                    <div class="col-1" style="margin-left: 10px;">
                        <div *ngIf="AuthService.logeado != null" class="btn btn-clos" (click)="openModal(modalDelete)" align="center">
                            <fa-icon [icon]="faWindowClose"></fa-icon>                                   
                        </div> 
                    </div>
                </div>
                <!-- <h5>Resolucion de Problemas</h5> -->
                <circle-progress
                    [percent]="60"
                    [radius]="100"
                    [showUnits]="true"  
                    
                    
                    [showImage]="true"
                    [imageSrc]="'../../../../assets/img/iconos/CSS.png'"                
                    [imageHeight]="100"
                    [imageWidth]="100"

                    [titleColor]="'black'"
                    [titleFontSize]="'2em'"
                    [titleFontWeight]="'bold'"

                    [showSubtitle]="true" 
                    [subtitle]="'Resolucion de Problemas'"
                    [subtitleColor]="'black'"
                    [subtitleFontSize]="'0.8em'"
                    [subtitleFontWeight]="'bold'"

                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#0d4ebf'"
                    [innerStrokeColor]="'#0d4ebf68'"
                    [animation]="true"
                    [animationDuration]="600"
                ></circle-progress>                            
            </div>
    
            <div class="col-12 col-md-4" style="color: #dddd114f;">
    
                <!-- <h5>Diseños de Sistemas</h5> -->
                <div class="row">
                    <div class="col-9">                    
                    </div>
                    <div class="col-1" style="margin-right: 10px;">
                        <div *ngIf="AuthService.logeado != null" class="btn btn-edit" (click)="openModal(modalHss)"  align="center">
                            <fa-icon [icon]="faEdit"></fa-icon>                                   
                        </div>                             
                    </div>                
                    <div class="col-1" style="margin-left: 10px;">
                        <div *ngIf="AuthService.logeado != null" class="btn btn-clos" (click)="openModal(modalDelete)" align="center">
                            <fa-icon [icon]="faWindowClose"></fa-icon>                                   
                        </div> 
                    </div>
                </div>

                <circle-progress
                    [percent]="80"
                    [radius]="100"
                    [showUnits]="true"  

                    [showImage]="true"
                    [imageSrc]="'../../../../assets/img/iconos/js.png'"                
                    [imageHeight]="100"
                    [imageWidth]="100"

                    [titleColor]="'black'"
                    [titleFontSize]="'2em'"
                    [titleFontWeight]="'bold'"
                    [showSubtitle]="true" 
                    [subtitle]="'Diseños de Sistemas'"
                    [subtitleColor]="'black'"
                    [subtitleFontSize]="'0.8em'"
                    [subtitleFontWeight]="'bold'"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#DDDD11'"
                    [innerStrokeColor]="'#dddd114f'"
                    [animation]="true"
                    [animationDuration]="600"
                ></circle-progress>
            </div>   
            
            <div class="col-12 col-md-4" style="color: #d400006b;">
    
                <!-- <h5>Diseños de Sistemas</h5> -->
                <div class="row">
                    <div class="col-9">                    
                    </div>
                    <div class="col-1" style="margin-right: 10px;">
                        <div *ngIf="AuthService.logeado != null" class="btn btn-edit" (click)="openModal(modalHss)" align="center">
                            <fa-icon [icon]="faEdit"></fa-icon>                                   
                        </div>                             
                    </div>                
                    <div class="col-1" style="margin-left: 10px;">
                        <div *ngIf="AuthService.logeado != null" class="btn btn-clos" (click)="openModal(modalDelete)" align="center">
                            <fa-icon [icon]="faWindowClose"></fa-icon>                                   
                        </div> 
                    </div>
                </div>
                
                <circle-progress
                    [percent]="90"
                    [radius]="100"
                    [showUnits]="true"  

                    [showImage]="true"
                    [imageSrc]="'../../../../assets/img/iconos/html.png'"                
                    [imageHeight]="100"
                    [imageWidth]="100"

                    [titleColor]="'black'"
                    [titleFontSize]="'2em'"
                    [titleFontWeight]="'bold'"
                    [showSubtitle]="true" 
                    [subtitle]="'Trabajo en Equipo'"
                    [subtitleColor]="'black'"
                    [subtitleFontSize]="'0.8em'"
                    [subtitleFontWeight]="'bold'"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#D40000'"
                    [innerStrokeColor]="'#d400006b'"
                    [animation]="true"
                    [animationDuration]="600"
                ></circle-progress>
            </div>
            

            <ng-template #modalHss let-modal>
                <div class="modal-header">
                    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
                </div>
            
                <app-edit-hss></app-edit-hss>
            </ng-template>

            <ng-template #modalDelete let-modal>
                <div class="modal-header">
                    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
                </div>
            
                <app-modal-borrar-seccion></app-modal-borrar-seccion>
            </ng-template>
        </div>
    </div>
</div>