<div class="container_educacion">   
    <hr>   
    <div class="container text-left py-4"> 
        <!-- Titulo Seccion -->
        <div class="row container_titulo">
            <h2>Formación Académica</h2>
        </div>

        <!-- Experiencias -->
        <div class="row py-2">
            <hr>
            <div class="col-md-5" align="center">
                <div class="py-3">                   
                    <div class="row_foto_educacion">
                        <div class="row_foto" align="center">
                            <img src="../../../../assets/img/logo/EESTLogo.png"  width="150px" height="100px">
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-12 col-md-7">
                <div>
                    <h3 style="font-weight: bold;">Escuela Secundaria Tecnica Nº1</h3>
                    <p>
                        Tecnico en Programacion
                    </p>

                    <p>
                        Tecnico en Programacion 2010 - 2017 / Leandro Alem 1910, Dock Sud (Avellaneda) - Buenos Aires - Argentina
                    </p>

                </div>
            </div>
        </div>


    </div>
</div>

