*{
    font-family: monospace;
    color: #494949;
}

h2{
    font-weight: 600;
}

p{
    font-size: 18px;
    font-weight: 600;
}

.container_educacion{
    margin-top: -1em;
    /* background-color: #00348e3d; */
}

.container_titulo{
    padding: 1em;
}

.row_foto_educacion{
    width: 300px;
    height: 150px;
    margin-top: -1em;
    background-color: rgba(0, 0, 0, 0.194);
    border-radius: 8%;
}

.row_foto{
    padding-top: 8%;
}