<div id="educacion" class="container_educacion border">
    <div class="container text-left py-4">
        <!-- Titulo Seccion -->
        <div class="row container_titulo">
            <div class="col-9" align="left">
                <h1 style="font-weight: bold">Formación Académica</h1>
            </div>

            <div class="col-3" align="right">
                <div *ngIf="AuthService.estadoLogin" class="btn btn-add" align="center"
                    (click)="openModal(modalEducacionADD)">
                    <fa-icon [icon]="faPlus"></fa-icon>
                </div>
            </div>
        </div>

        <!-- Educaciones -->
        <div class="row px-3" *ngFor="let educacion of this.eduacionesPersona">
            <hr>

            <div class="row">
                <div class="col-9">
                </div>
                <div class="col-1" style="margin-right: 10px;">
                    <div *ngIf="AuthService.estadoLogin" class="btn btn-edit" (click)="openModal(modalEducacion)"
                        align="center">
                        <fa-icon [icon]="faEdit"></fa-icon>
                    </div>
                </div>
                <div class="col-1" style="margin-left: 10px;">
                    <div *ngIf="AuthService.estadoLogin" class="btn btn-clos" (click)="openModal(modalDelete)"
                        align="center">
                        <fa-icon [icon]="faWindowClose"></fa-icon>
                    </div>
                </div>
            </div>

            <div class="col-md-5" align="center">
                <div class="py-3">
                    <div class="row_foto_educacion">
                        <div class="row_foto" align="center">
                            <img src="{{educacion?.url_logo}}" width="150px" height="100px">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-7">
                <div>                    
                    <h3 style="font-weight: bold;">{{educacion?.nombre_establecimiento}}</h3>
                    <p>
                        {{educacion?.titulo}}
                    </p>

                    <p>
                        {{educacion?.descripcion}} 
                    </p>

                    <p>
                        {{educacion?.aneos}} / {{educacion?.direccion}}
                    </p>

                </div>
            </div>

            <ng-template #modalEducacion let-modal>
                <div class="modal-header">
                    <button type="button" class="btn-close" aria-label="Close"
                        (click)="modal.dismiss('Cross click')"></button>
                </div>

                <app-edit-educacion [educacion]='educacion'></app-edit-educacion>
            </ng-template>

            <ng-template #modalDelete let-modal>
                <div class="modal-header">
                    <button type="button" class="btn-close" aria-label="Close"
                        (click)="modal.dismiss('Cross click')"></button>
                </div>

                <app-modal-borrar-seccion [elementoBaja]='{
                    objeto: educacion,
                    tipo: "EDUCACION"
                }' (cambios)="actualizarDatos($event)"></app-modal-borrar-seccion>
            </ng-template>
        </div>

        <ng-template #modalEducacionADD let-modal>
            <div class="modal-header">
                <button type="button" class="btn-close" aria-label="Close"
                    (click)="modal.dismiss('Cross click')"></button>
            </div>

            <app-edit-educacion (cambios)="actualizarDatos($event)"></app-edit-educacion>
        </ng-template>

    </div>
</div>