<div>
    <div class="row">
        <div class="col-9">                    
        </div>
        <div class="col-1" style="margin-right: 10px;" align="right">
            <div *ngIf="AuthService.estadoLogin" class="btn btn-edit" (click)="openModal(modalBanner)" align="center">
                <fa-icon [icon]="faEdit"></fa-icon>                                   
            </div>                             
        </div>                
    </div>
    
    <img src="{{this.persona?.url_banner_perfil}}" class="banner">
</div>


<ng-template #modalBanner let-modal>
    <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>

    <app-edit-banner [persona]="persona"></app-edit-banner>
</ng-template>