<div class="container text-center">
    <div class="row row-cols-4" >
        
        <div class="col col-md-3">
            <a href="#experiencia"><button class=" btn btn-info" style="background-color: #ff5100;">Experiencia</button></a>
        </div>

        <div class="col col-md-3">
            <a href="#educacion"><button class=" btn btn-info" style="background-color: #ffd900;">Estudios</button></a>
        </div>

        <div class="col col-md-3">
            <a href="#habilidades"><button class=" btn btn-info" style="background-color: #9cbf43;">Habilidades</button></a>
        </div>

        <div class="col col-md-3">
            <a href="#proyectos"><button class=" btn btn-info" style="background-color: #047dff;">Proyectos</button></a>
        </div>

    </div>
</div>