<div class="container text-center">
    <div class="row row-cols-4" >
        
        <div class="col col-md-3">
            <a href="#experiencia"><button class=" btn btn-info exp" >Experiencia</button></a>
        </div>

        <div class="col col-md-3">
            <a href="#educacion"><button class=" btn btn-info est">Estudios</button></a>
        </div>

        <div class="col col-md-3">
            <a href="#habilidades"><button class=" btn btn-info hab">Habilidades</button></a>
        </div>

        <div class="col col-md-3">
            <a href="#proyectos"><button class=" btn btn-info pry">Proyectos</button></a>
        </div>

    </div>
</div>