*{
  font-family: monospace;
  color: #494949;
  font-weight: 600;
}



/*Desktop*/
@media (min-width:576px){
  .btn{
    width: 120px;
  }
}

/*Dispositivos*/
@media (max-width:576px){
  .btn{
    width: 110px;
  }

  .col{    
    min-width: 100%;    
    font-size: 12px;
  }

  a, .btn{
    min-width: 100%;
  }
}

.btn{
  color: black;
  border: 2px solid black;
}

.btn:hover{
  color: blue;
  transform: scale(1.1);
}