*{
  font-family: monospace;
  color: #303030 !important;  
  text-shadow: black 1px 0 1px !important;
}



/*Desktop*/
@media (min-width:576px){
  .btn{
    width: 120px;
  }
}

/*Dispositivos*/
@media (max-width:576px){
  .btn{
    width: 110px;
  }

  .col{    
    min-width: 100%;    
    font-size: 12px;
  }

  a, .btn{
    min-width: 100%;
  }
}

.btn{
  color: black;
  border: 2px solid black;

  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
}

.btn:hover{
  font-weight: bold;
  
  color: #1a2b4ef3 !important;
  text-shadow: #e1e0e0 1px 0 2px !important;
  transform: scale(1.1);
}