        
<div>
    <div class="container">
        <div class="row">
            <h2>Proyectos</h2>
        </div>


        <!-- Experiencias -->
        <div class="row py-2">
            <hr>

            <div class="row">
                <div class="col-9">                    
                </div>
                <div class="col-1" style="margin-right: 10px;">
                    <div *ngIf="AuthService.logeado != null" class="btn btn-edit" align="center">
                        <fa-icon [icon]="faEdit"></fa-icon>                                   
                    </div>                             
                </div>                
                <div class="col-1" style="margin-left: 10px;">
                    <div *ngIf="AuthService.logeado != null" class="btn btn-clos" align="center">
                        <fa-icon [icon]="faWindowClose"></fa-icon>                                   
                    </div> 
                </div>
            </div>
            
            <div class="col-12 col-md-8">
                <div>
                    <h3 style="font-weight: bold;">Clinica Online</h3>
                    <p>
                        Pagina web para una Clinica que esta hecho con el framework Angular, que cuenta con un sistema de turnos online.
                    </p>

                    <p>
                        Desarrollado con Angular y Firebase.
                    </p>

                </div>
            </div>
        </div>


    </div>
</div>