        
<div>
    <div class="container">
        <div class="row">
            <h2>Proyectos</h2>
        </div>


        <!-- Experiencias -->
        <div class="row py-2">
            <hr>
            <div class="col-12 col-md-8">
                <div>
                    <h3 style="font-weight: bold;">Clinica Online</h3>
                    <p>
                        Pagina web para una Clinica que esta hecho con el framework Angular, que cuenta con un sistema de turnos online.
                    </p>

                    <p>
                        Desarrollado con Angular y Firebase.
                    </p>

                </div>
            </div>
        </div>


    </div>
</div>