*{
    font-family: monospace;
    color: #494949;  
    text-shadow: #393939 0.5px 0 0.5px;
}

p{
    font-weight: 600;
}


hr {
    color: #181818;
    height: 0px;
    border:1px dashed;
}

.row {
    margin:0px;
}

app-edit-proyecto, app-modal-borrar-seccion{  
    width: 100%;
      height: 100%;
      
      
      background: url("../../../../assets/img/fondos/patternWhite.jpg")
       ;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

/* Stylos botones de edicion y exit */
.btn{
    cursor: pointer;
    color: rgba(28, 28, 28, 0.818);
    font-size: 26px;        
    border-radius: 100%;          
}

.btn:hover{
    transform: scale(1.1);
}
  
.btn:active{
    transform: scale(0.9);
}

fa-icon{
    color: #494949;
}

.btn-edit{    
    background-color: #ffe96a;
    background-image: linear-gradient(147deg, #ffe96a 0%, #fda605 60%);
    border: 0.005em solid rgba(67, 67, 67, 0.501);
}   

.btn-clos{   
    background-color: #dc3d12;
    background-image: linear-gradient(147deg, #dc3d12 0%, #dc3d12 60%);
    border: 0.005em solid rgba(67, 67, 67, 0.501);
}

.btn-add{   
  background-color: #80fa80;
  background-image: linear-gradient(147deg, #80fa80 0%, #339933 60%);
  border: 0.005em solid rgba(67, 67, 67, 0.501);
}

.row {
    margin:0px;
  }