
div{
    background-color: #00358e;    
}




@media (min-width:576px){
  

    app-logo{
        padding-left: 15%;
        padding-right: 5%;
    }
    
    app-social{
        float: right;
        padding-right: 20%; 
        padding-left: 5%;
        padding-top: 2%;
    }
}


@media (max-width:576px){
    app-logo{
        padding-left: 20%;
        padding-right: 5%;
    }
    
    app-social{
        float: right;
        padding-right: 20%; 
        padding-left: 5%;
        padding-top: 2%;
    }   
}


.row {
    margin:0px;
}