*{
    font-family: monospace;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;    
}

.header{
    /* background-color: #00358e;     */
    /* background-color: #303030f7; */
    background-color: #002c79;    
    
}

/*Desktop*/
@media (min-width:576px){
    app-logo{
        padding-left: 15%;
        padding-right: 5%;
        
    }
    
    app-social{
        float: right;
        padding-right: 20%; 
        padding-left: 5%;
        padding-top: 2%;
    }    
}

/*Dispositivos*/
@media (max-width:576px){

    .row{
        align-items: center !important;

        text-align: center !important;
        display: flex;
        justify-content: center !important;
    }

    /* .button{
        margin-left: 1em;
    } */
}


.row {
    margin:0px;
}