<div class="row-12">
    <div class="col-12 col-md-12">
        <div class="card bg-dark text-white">
            <div class="card-body p-5 text-center">
                <div class="mb-md-2 mt-md-1 pb-2">
                    <form [formGroup]="formLogin" (submit)="this.onLogin()">
                        <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                        <p class="text-white-50 mb-5">Por favor ingrese su usuario y clave.</p>

                        <div class="form-outline form-white mb-4" align="left">
                            <label class="form-label">Usuario</label>
                            <input type="email" placeholder="ingrese su usuario" formControlName="usuario"
                                class="form-control form-control-lg" />

                            <!-- <small class="invalid"
                                        *ngIf="this.formLogin.get('email')?.errors?.['required'] && this.formLogin.get('email')?.touched">
                                        *Email requerido
                                    </small> -->
                        </div>

                        <div class="form-outline form-white mb-4" align="left">
                            <label class="form-label">Password</label>
                            <input type="password" placeholder="ingrese su contraseña" formControlName="contraseña"
                                class="form-control form-control-lg" />

                            <!-- <small class="invalid"
                                    *ngIf="this.formLogin.get('password')?.errors?.['required'] && this.formLogin.get('password')?.touched">
                                    *Password requerido
                                </small> -->
                        </div>
                        <p>
                            <button type="submit" class="btn btn-primary btn-block btn-lg w-50"
                                [disabled]="formLogin.invalid">Login</button>
                        </p>
                    </form>

                    <button class="btn btn-primary" (click)="acceso()">acceso</button>
                </div>
            </div>
        </div>
    </div>
</div>