<section>
    <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">


                        <div class="mb-md-5 mt-md-4 pb-5">

                            <form [formGroup]="formLogin" (submit)="this.onLogin()">
                                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                                <p class="text-white-50 mb-5">Por favor ingrese su usuario y clave.</p>

                                <div class="form-outline form-white mb-4" align="left">
                                    <label class="form-label">Usuario</label>
                                    <input type="email" placeholder="ingrese su usuario"
                                        formControlName="usuario" class="form-control form-control-lg" />

                                    <!-- <small class="invalid"
                                        *ngIf="this.formLogin.get('email')?.errors?.['required'] && this.formLogin.get('email')?.touched">
                                        *Email requerido
                                    </small> -->
                                </div>

                                <div class="form-outline form-white mb-4" align="left">
                                    <label class="form-label">Password</label>
                                    <input type="password" placeholder="ingrese su contraseña"
                                    formControlName="contraseña" class="form-control form-control-lg" />

                                    <!-- <small class="invalid"
                                    *ngIf="this.formLogin.get('password')?.errors?.['required'] && this.formLogin.get('password')?.touched">
                                    *Password requerido
                                </small> -->
                                </div>

                                <!-- <p class="small mb-2 pb-lg-2"><a class="text-white-50" href="#!">Olvido su
                                        contraseña?</a>
                                </p> -->

                                <p>
                                    <button type="submit" class="btn btn-primary btn-block btn-lg w-50" [disabled]="formLogin.invalid">Login</button>
                                </p>
                            </form>

                            <button class="btn btn-primary" (click)="acceso()">acceso</button>
                        </div>

                        <!-- <div>
                            <p class="mb-0">No tiene una cuenta? <a class="registro"
                                    (click)="onRegistro()">Registrese!</a>
                            </p>
                        </div> -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>