<div class="row-12">
    <div class="col-12 col-md-12">
        <div class="card bg-dark text-white">
            <div class="card-body p-5 text-center">
                <div class="mb-md-2 mt-md-1 pb-2">
                    <hr>
                    <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                    <form [formGroup]="formLogin" (submit)="this.onLogin()">

                        <p class="text-white-50 mb-5">Por favor ingrese su usuario y contraseña.</p>

                        <div class="form-outline form-white mb-2" align="left">

                            <label class="form-label">Usuario</label>

                            <input type="text" placeholder="Ingrese su usuario" formControlName="usuario"
                                class="form-control form-control-lg" />
                            <span
                                *ngIf="this.formLogin.get('usuario')?.errors?.['required'] && this.formLogin.get('usuario')?.touched">
                                *Usuario requerido
                            </span>
                        </div>

                        <div class="form-outline form-white mb-2" align="left">
                            <label class="form-label">Contraseña</label>
                            <input type="password" placeholder="Ingrese su contraseña" formControlName="contraseña"
                                class="form-control form-control-lg" />

                            <span
                                *ngIf="this.formLogin.get('contraseña')?.errors?.['required'] && this.formLogin.get('contraseña')?.touched">
                                *Contraseña requerido
                            </span>
                        </div>

                        <span mat-raised-button color="primary" [class.spinner]="this.loading"     ></span>

                        <span>
                            <p *ngIf="this.usuarioNoExist">
                                *Comprueba tu usuario y contraseña de cuenta e inténtalo de nuevo.</p>
                        </span>
                        
                        <p>
                            <button type="submit" class="btn btn-primary btn-block btn-lg w-50"
                                [disabled]="formLogin.invalid"                                                                                      
                                >Login</button>
                        </p>
                    </form>
                    <hr>
                    <!-- <button class="btn btn-primary" (click)="acceso()">acceso</button> -->
                </div>
            </div>
        </div>
    </div>
</div>